<form class="user-form">
  <h2>Регистрация</h2>
  
  <div class="success-message" *ngIf="showSuccessMessage">
    Пользователь успешно зарегистрирован!
  </div>

  <label for="name">Имя:</label>
  <input
    type="text"
    id="name"
    [(ngModel)]="name"
    placeholder="Введите имя"
    class="form-input"
  />

  <label for="userName">Username:</label>
  <input
    type="text"
    id="userName"
    [(ngModel)]="userName"
    placeholder="Введите username"
    class="form-input"
  />

  <label for="userEmail">Email:</label>
  <input
    type="email"
    id="userEmail"
    [(ngModel)]="userEmail"
    placeholder="Введите email"
    class="form-input"
  />

  <label for="userAge">Возраст:</label>
  <input
    type="number"
    id="userAge"
    [(ngModel)]="userAge"
    placeholder="Введите возраст"
    class="form-input"
    min="1"
  />

  <label for="userPassword">Пароль (минимум 6 символов):</label>
  <input 
    type="password" 
    id="userPassword"
    [(ngModel)]="userPassword" 
    placeholder="Введите пароль"
    class="form-input"
    
  />
  
  <label for="userCheckPassword">Подтвердите пароль:</label>
  <input 
    type="password" 
    id="userCheckPassword"
    [(ngModel)]="userCheckPassword" 
    placeholder="Повторите пароль"
    class="form-input"
    
  />
  <label for="avatar">Добавить фото:</label>
  <input 
    type="password" 
    id="avatar"
    class="form-input"
    (change)="onFileSelected($event)"
  />
  <p class="error-message">
    {{errorPassword}}
  </p>
  <p style="color: red;">{{errorValid}}</p>

  <p class="error-message">{{ error }}</p>

  <input type="file" onchange="uploadFile(event)">

  <button
    (click)="authorization()"
    class="submit-button"
    
  >
    {{ isSubmitting ? 'Регистрация...' : 'Зарегистрироваться' }}
  </button>
</form>
